html {
   box-sizing: border-box;
   height: 100%;
}
*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}
p {
   margin: 0;
   padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   margin: 0;
   padding: 0;
   font-weight: inherit;
}
a {
   display: inline-block;
   text-decoration: none;
}
ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}
input {
   color: #333333;
   outline: transparent;
}
button {
   outline: transparent;
}
select {
   outline: transparent;
}
body {
   font-family: "Quicksand", sans-serif;
   font-weight: 400;
   font-size: 16px;
   height: 100%;
}
.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
}
.content {
   flex: 1 0 auto;
}
.footer {
   flex: 0 0 auto;
}
.container {
   max-width: 1170px;
   padding: 0 15px;
   margin: 0 auto;
}
.titlebox {
   background-color: #fff;
   margin-bottom: 50px;
   padding: 40px 30px;
   font-size: 30px;
   color: #000;
   box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
   display: flex;
   justify-content: space-between;
}
.color-gold {
   color: #feb71d;
}
.color-light_blue {
   color: #58c9e9;
}
.color-green {
   color: #77de51;
}
.color-red {
   color: #ff6a6d !important;
}
.color-blue {
   color: $blue;
}
.color-purple {
   color: $purple;
}
.bgcolor-blue {
   background-color: $blue;
}
.bgcolor-purple {
   background-color: $purple;
}
.btn-white {
   display: block;
   color: $blue;
   background-color: #fff;
   font-size: 16px;
   padding: 20px 30px;
   max-width: 190px;
   border-radius: 25px;
   margin: 50px auto 0 auto;
   border: 1px solid #fff;
   &:hover {
      background-color: transparent;
      border: 1px solid #fff;
      color: #fff;
      transition: all 0.3s;
   }
}
.align-center {
   display: flex;
   align-items: center;
}
