@import "vars";
@import "global";
@import "fonts";

/*Header-top*/
.header__top {
   background-color: $light-grey;
}
.header__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}
.header__logo {
   margin-left: 10px;
}
.header__box {
   display: flex;
   align-items: center;
   &-btn {
      background-color: $blue;
      padding: 11px 18px;
      border-radius: 20px;
      margin-right: 50px;
      font-size: 14px;
      border: 1px solid $blue;
      a {
         color: #fff;
      }
      &:hover {
         background-color: #fff;
         transition: all 0.3s;
         a {
            color: $blue;
         }
      }
   }
   &-icons {
      display: flex;
      align-items: center;
      margin-right: 48px;
      position: relative;
   }
   &-user {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 25px;
      padding-bottom: 25px;
      &:hover {
         .header__menu-user {
            visibility: visible;
            max-height: 525px;
         }
         .header__menu-user--inner::before {
            visibility: visible;
         }
      }
   }
}
.lnr-alarm,
.lnr-envelope,
.lnr-cart {
   font-size: 20px;
   color: rgb(126, 143, 161);
}
.header__box-loginreg {
   // background-color: red;
   .header__box-login {
      background-color: #e6f1fd;
      color: #333;
      border: 1px solid #dcdcdc;
      font-size: 15px;
      cursor: pointer;
      border-radius: 25px;
      padding: 10px 20px;
      max-width: 100px;
      margin-right: 5px;
      &:hover {
         color: $blue;
         transition: all .3s;
      }
   }
   .header__box-register {
      background-color: #e6f1fd;
      color: #333;
      border: 1px solid #dcdcdc;
      font-size: 15px;
      cursor: pointer;
      border-radius: 25px;
      padding: 10px 20px;
      max-width: 100px;
      &:hover {
         color: $blue;
         transition: all .3s;
      }
   }
}
.header__menu-user--inner {
   &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      right: 27px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 10px 8px;
      border-color: transparent transparent $blue transparent;
      box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
      z-index: 2;
      visibility: hidden;
   }
}
.header__menu-user {
   position: absolute;
   top: 75px;
   right: 0;
   background-color: #fff;
   z-index: 2;
   border-top: 1px solid $blue;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   padding: 20px;
   width: 270px;
   max-height: 0px;
   overflow: hidden;
   visibility: hidden;
   transition: max-height 0.4s linear;
}
.menu__user-item {
   font-size: 15px;
   line-height: 44px;
   color: #54667a;
   padding-left: 40px;
   position: relative;
   border-radius: 2px;
   i {
      position: absolute;
      left: 10px;
      bottom: 50%;
      transform: translateY(50%);
   }
   a {
      color: #54667a;
   }
   &:hover {
      background-color: $blue;
      i,
      a {
         color: #fff;
         transition: all 0.3s;
      }
   }
}
.header__menu-cart {
   position: absolute;
   top: 101px;
   right: 0;
   background-color: #fff;
   z-index: 2;
   border-top: 1px solid $blue;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   width: 400px;
   display: none;
}
.menu__cart-item {
   border-bottom: 1px solid #e8ebf0;
   padding: 25px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   .cart-item__img {
      margin-right: 15px;
      width: 80px;
      height: 70px;
      object-fit: cover;
   }
   .cart-item__text {
      a {
         font-weight: 700;
         font-size: 16px;
         line-height: 22px;
         color: #000;
      }
      img {
         margin-right: 4px;
         position: absolute;
         top: 6px;
         left: 0px;
      }
      span {
         color: $blue;
         font-size: 15px;
         line-height: 30px;
         position: relative;
         padding-left: 20px;
         display: block;
         margin-top: 8px;
      }
   }
   .cart-item__icons {
      text-align: center;
      button {
         background-color: #f1ecf9;
         font-size: 15px;
         color: #818c98;
         border: none;
         border-radius: 50%;
         width: 32px;
         height: 32px;
         cursor: pointer;
         margin-bottom: 10px;
         &:hover {
            color: #000;
            transition: all 0.3s;
         }
      }
      .cart-item__price {
         color: $blue;
         font-weight: 500;
         font-size: 16px;
         background-color: #f1ecf9;
         border-radius: 25px;
         padding: 8px 10px;
      }
   }
}
.menu__cart-summ {
   font-weight: 500;
   font-size: 18px;
   color: #000000;
   line-height: 80px;
   display: flex;
   justify-content: flex-end;
   padding: 0 25px;
   span {
      margin-right: 30px;
   }
}
.menu__cart-buttons {
   display: flex;
   a {
      color: #fff;
      font-size: 15px;
      width: 50%;
      text-align: center;
      padding: 24px 20px 22px;
   }
}
.header__menu-message {
   position: absolute;
   top: 101px;
   right: 48px;
   z-index: 2;
   background-color: #fff;
   width: 370px;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   border-top: 1px solid $blue;
   display: none;
}
.menu__message-title {
   font-size: 18px;
   line-height: 28px;
   color: #000;
   border-bottom: 1px solid #e8ebf0;
   padding: 18px 25px;
   display: flex;
   justify-content: space-between;
   a {
      color: $blue;
      font-size: 15px;
   }
}
.menu__message-item {
   border-bottom: 1px solid #e8ebf0;
   padding: 12px 25px;
   display: flex;
   align-items: center;
   .message-item__img {
      width: 40px;
      height: 40px;
      object-fit: cover;
      margin-right: 13px;
   }
   .message-item__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      &.longtime {
         span,
         i {
            color: #747a86;
         }
      }
      a {
         font-size: 16px;
         color: #000;
         line-height: 20px;
         font-weight: 500;
         i {
            color: $blue;
            font-size: 15px;
            line-height: 26px;
            margin-left: 10px;
         }
      }
      span {
         font-size: 14px;
         line-height: 28px;
         color: $blue;
      }
   }
   .message-item__text {
      font-size: 15px;
      color: #555555;
      line-height: 30px;
   }
}
.header__menu-alarm {
   position: absolute;
   background-color: #fff;
   border-top: 1px solid $blue;
   z-index: 2;
   width: 370px;
   padding: 10px 25px;
   top: 101px;
   left: -30px;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   display: none;
}
.menu__alarm-title {
   font-size: 18px;
   line-height: 28px;
   color: #000;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-bottom: 1px solid #e8ebf0;
   padding-bottom: 17px;
   padding-top: 10px;
   a {
      color: $blue;
      font-size: 15px;
   }
}
.menu__alarm-item {
   padding: 20px 0 10px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #e8ebf0;
   &:last-child {
      border-bottom: none;
      padding-bottom: 0;
   }
   .alarm-item__img {
      margin-right: 10px;
      width: 41px;
      height: 41px;
   }
   .alarm-item__box {
      font-size: 15px;
      line-height: 20px;
      color: #747a86;
      max-width: 217px;
      &-name {
         font-size: 16px;
         font-weight: 500;
         line-height: 20px;
         color: #333;
      }
      &-type {
         line-height: 22px;
         color: $blue;
      }
      span {
         display: block;
         font-size: 14px;
         line-height: 28px;
         color: #747a86;
      }
   }
   .alarm-item__box-link {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .alarm-item__box-heart {
      background-color: #f1ecf9;
      font-size: 15px;
      border: none;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
         color: #000;
         transition: all 0.3s;
      }
   }
}
.header__menu-message,
.header__menu-cart,
.header__menu-alarm {
   &::before {
      content: "";
      position: absolute;
      top: -10px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 8px 10px 8px;
      border-color: transparent transparent $blue transparent;
      box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
      z-index: 2;
   }
}
.header__menu-cart::before {
   right: 28px;
}
.header__menu-message::before {
   right: 31px;
}
.header__menu-alarm::before {
   left: 35px;
}
.box__icon-1,
.box__icon-2,
.box__icon-3 {
   margin-right: 20px;
   position: relative;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 40px;
   margin-top: 40px;
   &:hover {
      .lnr-alarm,
      .lnr-envelope,
      .lnr-cart {
         color: #333;
         transition: all 0.3s;
      }
   }
}
.icon__circle-1,
.icon__circle-2,
.icon__circle-3 {
   position: absolute;
   min-width: 28px;
   min-height: 28px;
   padding: 6px;
   border-radius: 14px;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   text-align: center;
   top: -22px;
   left: 6px;
}
.icon__circle-1 {
   background-color: $red;
}
.icon__circle-2 {
   background-color: $green;
}
.icon__circle-3 {
   background-color: $blue;
}
.header__user-icon {
   margin-right: 20px;
   width: 50px;
   height: 50px;
   display: block;
   border-radius: 50%;
}
.header__user-info {
   a {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: #333333;
      &:hover {
         color: #000;
         transition: all 0.3s;
      }
   }
   span {
      display: block;
      font-size: 15px;
      line-height: 22px;
      color: $blue;
   }
}

/*Header-menu*/
.header__menu {
   background-color: #fff;
}
.header__menu-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
}
.menu__list {
   &-item {
      display: inline-block;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 700;
      position: relative;
      padding-bottom: 30px;
      margin-top: 30px;
      a {
         color: #333333;
         &:hover {
            color: #000;
            transition: all 0.3s;
         }
      }
   }
   li + li {
      margin-left: 32px;
   }
}
.header__search {
   &-form {
      position: relative;
      max-width: 360px;
      input {
         height: 46px;
         padding: 0 85px 0 25px;
         border-radius: 25px;
         border: 1px solid rgb(220, 220, 220);
         width: 360px;
      }
      button {
         background-color: $blue;
         border: none;
         cursor: pointer;
         top: 0;
         right: 0;
         position: absolute;
         height: 100%;
         width: 70px;
         border-radius: 25px;
         outline: transparent;
      }
   }
   .lnr-magnifier {
      color: #fff;
      font-size: 15px;
   }
}
.menu__dropdown {
   position: absolute;
   z-index: 2;
   width: 270px;
   background-color: #fff;
   border-top: 1px solid $blue;
   padding: 20px 20px 27px 20px;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   top: 48px;
   max-height: 0px;
   overflow: hidden;
   visibility: hidden;
   transition: max-height 0.4s linear;
}
.menu__dropdown-list {
   .menu__dropdown-item {
      margin-left: 0;
      line-height: 44px;
   }
}
.menu__bigdropdown-item,
.menu__dropdown-item {
   margin-left: 0;
   font-size: 15px;
   border: 1px solid transparent;
   padding: 0 10px;
   border-radius: 2px;
   text-transform: initial;
   font-weight: 400;
   a {
      color: #54667a;
   }
   &:hover {
      background-color: $blue;
      transition: all 0.3s;
      a {
         color: #fff;
         transition: all 0.3s;
      }
   }
}
.menu__bigdropdown {
   position: absolute;
   z-index: 2;
   width: 1140px;
   background-color: #fff;
   border-top: 1px solid $blue;
   padding: 15px 27px;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   top: 48px;
   left: -1000%;
   display: flex;
   justify-content: space-between;
   max-height: 0px;
   overflow: hidden;
   visibility: hidden;
   transition: max-height 0.4s linear;
   &-box {
      display: flex;
   }
   &-double {
      width: 435px;
      .menu__bigdropdown-list {
         &:first-child {
            margin-right: 67px;
         }
      }
   }
   &-single {
      width: 161px;
   }
}
.menu__bigdropdown-title {
   font-size: 16px;
   font-weight: 700;
   line-height: 40px;
   margin-bottom: 13px;
   padding-bottom: 3px;
   color: #000;
   border-bottom: 1px solid #e8ebf0;
}
.menu__bigdropdown-list {
   max-width: 180px;
   .menu__bigdropdown-item {
      margin-left: 0;
      line-height: 42px;
      margin-left: -10px;
   }
}
.menu__list-item:hover {
   .menu__list-link {
      color: $blue;
      transition: all 0.3s;
   }
   .menu__dropdown,
   .menu__bigdropdown {
      visibility: visible;
      max-height: 650px;
   }
}
/*Header-product*/
.header__product {
   min-height: 730px;
   background-image: linear-gradient(
      180deg,
      rgb(0, 48, 222) 0%,
      rgb(23, 69, 237) 54%,
      rgb(46, 90, 251) 100%
   );
   position: relative;
}
.header__product {
   &-inner {
      text-align: center;
      color: #f3f3f8;
      padding-top: 180px;
   }
   &-title {
      font-size: 60px;
      line-height: 70px;
      span {
         display: block;
         font-weight: 700;
      }
   }
   &-text {
      font-size: 20px;
      font-weight: 500;
      line-height: 72px;
   }
   &-buttons {
      margin-top: 67px;
   }
}
.product-button {
   height: 55px;
   padding: 0 30px;
   color: #fff;
   background-color: transparent;
   border: 1px solid #fff;
   border-radius: 25px;
   cursor: pointer;
   margin-left: 15px;
   margin-right: 15px;
   &:hover {
      background-color: #fff;
      color: $blue;
      transition: all 0.3s;
   }
}
.header__product-select {
   position: absolute;
   width: 100%;
   max-width: 1140px;
   height: 135px;
   background-color: #fff;
   bottom: -67px;
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
   border-radius: 6px;
   z-index: 10;
   padding: 0 40px;
}
.header__product-select2 {
   position: absolute;
   width: 100%;
   max-width: 1110px;
   height: 135px;
   background-color: #fff;
   bottom: -54px;
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
   opacity: 0.502;
   border-radius: 6px;
   z-index: 9;
   left: 0;
   right: 0;
   margin: 0 auto;
}
.header__product-select3 {
   position: absolute;
   width: 100%;
   max-width: 1080px;
   height: 135px;
   background-color: #fff;
   bottom: -41px;
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
   opacity: 0.502;
   border-radius: 6px;
   z-index: 8;
   left: 0;
   right: 0;
   margin: 0 auto;
}
.product__select-form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   input {
      height: 55px;
      padding: 0 27px;
      border-radius: 4px;
      border: 1px solid rgb(220, 220, 220);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: relaive;
      width: 612px;
   }
   button {
      background-color: $blue;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 0 15px;
      font-size: 16px;
      height: 55px;
      cursor: pointer;
      margin-left: 30px;
      text-align: center;
      width: 223px;
   }
}
.product-select {
   position: relative;
   margin-left: -15px;
   select {
      height: 55px;
      width: 201px;
      border: 1px solid rgb(220, 220, 220);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0 45px 0 34px;
      appearance: none;
      cursor: pointer;
      margin-left: -14px;
      display: block;
   }
   .lnr-chevron-down {
      position: absolute;
      z-index: 1;
      color: #c1bebe;
      top: 21px;
      right: 18px;
      pointer-events: none;
   }
}

/*Recommend*/
.recommend {
   padding: 185px 0 123px;
   background-color: #fff;
}
.recommend__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.recommend__item {
   color: $content-text;
   text-align: center;
   max-width: 360px;
   width: 100%;
   padding: 45px 30px;
   border-radius: 4px;
   &:hover {
      box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
      transition: all 0.3s;
   }
   img {
      display: block;
      margin: 0 auto;
      margin-bottom: 32px;
   }
   &-title {
      font-size: 24px;
      margin-bottom: 30px;
   }
   &-text {
      font-size: 16px;
      line-height: 30px;
   }
}

/*Featured*/
.featured {
   background-color: $bg-grey;
   padding: 120px 0;
}
.featured__item {
   &-box {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
   }
}
.featured__titlebox-arrows {
   background-color: $purple;
   position: relative;
   height: 45px;
   width: 110px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 25px;
}
.lnr-chevron-left.slick-arrow,
.lnr-chevron-right.slick-arrow {
   position: absolute;
   z-index: 1;
   right: 105px;
   top: -119px;
   font-size: 14px;
   color: #daceee;
   cursor: pointer;
}
.lnr-chevron-right.slick-arrow {
   right: 50px;
}
.lnr-chevron-left.slick-arrow:hover,
.lnr-chevron-right.slick-arrow:hover {
   color: #fff;
   transition: all 0.3s;
}
.featured__box-image {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 555px;
   width: 100%;
}
.featured__box-info {
   padding: 45px 58px 24px 19px;
   max-width: 555px;
   width: 100%;
   background-color: #fff;
}
.box-info__title {
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 15px;
   color: #000;
}
.box-info__type {
   display: flex;
   align-items: center;
   font-size: 15px;
   line-height: 30px;
   margin-bottom: 20px;
   a {
      display: flex;
      align-items: center;
      color: #000000;
   }
   .info__type-user {
      margin-right: 9px;
      width: 30px;
      height: 30px;
   }
   .info__type-icon {
      margin-left: 20px;
      margin-right: 9px;
   }
   .info__type-icon--span {
      color: $purple;
   }
}
.box-info__text {
   font-size: 16px;
   line-height: 30px;
   color: #555555;
   margin-bottom: 38px;
}
.box-info__buttons {
   display: flex;
   .info__buttons-item {
      background-color: #f1f3f6;
      padding: 9px 13px;
      margin-right: 10px;
      border-radius: 25px;
      font-size: 15px;
      a {
         color: #868c96;
      }
   }
}
.box-info__links {
   padding-top: 24px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid rgb(236, 236, 236);
   font-size: 15px;
   margin-top: 43px;
}
.info__links {
   &-price {
      background-color: $blue;
      color: #fff;
      font-weight: 500;
      padding: 8px 19px;
      border-radius: 25px;
      margin-right: 19px;
   }
   &-likes {
      color: #555555;
      .lnr-heart {
         margin-right: 8px;
         color: $purple;
         font-size: 15px;
      }
   }
   &-count {
      color: $blue;
      .lnr-cart {
         margin-left: 17px;
         margin-right: 9px;
         color: $blue;
         font-size: 15px;
      }
   }
}

/*Release*/
.release {
   background-color: #f6f7fb;
   padding: 120px 0;
}
.release__titlebox-filter {
   position: relative;
   font-size: 16px;
   cursor: pointer;
   a {
      color: #747b86;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   ul {
      margin-left: 25px;
   }
}
.filter-dots {
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background-color: #a3b1c4;
   margin-bottom: 4px;
}
.filter-dots:last-child {
   margin-bottom: 0;
}
.release__titlebox-filter:hover {
   & > a {
      color: $blue;
      transition: all 0.3s;
   }
   .filter-dots {
      background-color: $blue;
      transition: all 0.3s;
   }
}
.filter__dropdown {
   display: none;
   position: absolute;
   background-color: #fff;
   width: 183px;
   padding: 25px;
   top: 44px;
   right: -24px;
   border-radius: 3px;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: 18px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 16px 9px;
      border-color: transparent transparent #ffffff transparent;
      box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   }
   ul {
      margin-left: 0;
      font-size: 15px;
      line-height: 28px;
   }
   &-item {
      a {
         color: #747b86;
      }
      &:hover {
         a {
            color: $blue;
            transition: all 0.3s;
         }
      }
   }
}
.release__inner-buttons {
   background-color: #fff;
   padding: 30px;
   box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
}
.release--info__buttons-item {
   button {
      background-color: #f1f3f6;
      cursor: pointer;
      padding: 9px 13px;
      margin-right: 10px;
      border-radius: 25px;
      border: none;
      font-size: 15px;
      color: #868c96;
      &:hover {
         color: #000;
         transition: all 0.3s;
      }
   }
}
.release__inner-items {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: flex-start;
}
.release__item {
   max-width: 360px;
   width: 100%;
   box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
   margin-bottom: 30px;
   background-color: #fff;
   &-image {
      min-height: 230px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
   }
   &-text {
      padding: 30px 40px 35px 28px;
   }
   &:hover {
      .release__product-button {
         opacity: 1;
         transition: all 0.5s;
      }
   }
}
.release__text-title {
   font-size: 20px;
   color: #000;
   font-weight: 500;
   margin-bottom: 20px;
}
.release__product-button {
   opacity: 0;
   cursor: pointer;
   color: #fff;
   // background-color: rgba(255, 255, 255, 0.1);
   // background-color: rgba(0, 0, 0, 0.3);
   background-color: transparent;
   border: 1px solid #fff;
   border-radius: 25px;
   font-size: 15px;
   font-weight: 500;
   padding: 16px 30px;
   margin-left: 5px;
   margin-right: 5px;
   box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
   &:hover {
      color: $blue;
      background-color: #fff;
      transition: all 0.3s;
   }
}
.release--box-info__text {
   font-size: 16px;
   line-height: 30px;
   color: #555555;
}
.release--box-info__links {
   border-top: 1px solid #ececec;
   padding: 16px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.release__links-left {
   display: flex;
   align-items: center;
   .info__links-likes {
      margin-right: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.release__links-left-price {
   margin-right: 13px;
   color: $blue;
   font-size: 15px;
   font-weight: 500;
   background-color: #e6f1fd;
   padding: 7px 17px;
   border-radius: 25px;
}
.release--box-info__links {
   .info__links-count {
      display: flex;
      align-items: center;
   }
}
.release__btn-bottom {
   cursor: pointer;
   background-color: $blue;
   border: 1px solid $blue;
   border-radius: 25px;
   color: #fff;
   padding: 20px 33px;
   margin: 60px auto 0;
   display: block;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
   &:hover {
      color: $blue;
      background-color: #fff;
      transition: all 0.3s;
   }
}

/*Follower*/
.followers {
   background-color: #eff1f5;
   padding: 120px 0;
}
.followers__titlebox-arrows {
   background-color: $purple;
   position: relative;
   height: 45px;
   width: 110px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 25px;
}
.followers__inner {
   .titlebox {
      margin-bottom: 50px;
   }
}
.followers__slider-inner {
   max-width: 1140px;
   .slick-slide {
      margin: 0 15px;
   }
   .slick-list {
      margin-left: -15px;
      margin-right: -15px;
   }
}

/*Count*/
.count {
   background-color: #212225;
   padding: 95px 0;
}
.count__inner {
   display: flex;
   justify-content: space-between;
}
.count__item {
   text-align: center;
   &-image {
      font-size: 48px;
      margin-bottom: 35px;
   }
   &-title {
      font-size: 36px;
   }
   &-text {
      font-size: 18px;
      line-height: 36px;
      color: #fff;
   }
}
/*About*/
.about {
   background-color: #fff;
   padding: 120px 0 120px;
   text-align: center;
   &__title {
      font-size: 36px;
      margin-bottom: 25px;
      span {
         color: $blue;
      }
   }
   &__text {
      font-size: 16px;
      color: #555555;
      line-height: 30px;
      max-width: 680px;
      width: 100%;
      margin: 0 auto 60px;
   }
   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
   }
}
.about__item {
   max-width: 360px;
   width: 100%;
   padding: 55px 33px;
   margin-bottom: 30px;
   border-radius: 4px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
   position: relative;
   &-image {
      margin-bottom: 40px;
      font-size: 60px;
   }
   &-title {
      font-size: 24px;
      color: #000;
      margin-bottom: 30px;
   }
   &-text {
      font-size: 16px;
      line-height: 30px;
      color: #555555;
   }
   &::before {
      content: attr(data-parent);
      position: absolute;
      font-size: 48px;
      color: $blue;
      opacity: 0.2;
      top: 22px;
      left: 19px;
   }
}

/*Obtain*/
.obtain__inner {
   display: flex;
   justify-content: space-between;
}
.obtain__item {
   max-width: 50%;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   padding: 100px 185px;
   color: #fff;
   &-image {
      margin-bottom: 45px;
   }
   &-title {
      font-size: 36px;
      margin-bottom: 25px;
   }
   &-text {
      line-height: 30px;
   }
   &-btn {
      margin-top: 45px;
      color: $blue;
      background-color: #fff;
      border-radius: 25px;
      padding: 22px 26px;
      border: 1px solid #fff;
      &:hover {
         background-color: transparent;
         color: #fff;
         border: 1px solid $blue;
         transition: all 0.3s;
      }
   }
}

/*Feedback*/
.feedback {
   background-color: #f2f5f8;
   padding: 120px 0;
   text-align: center;
   .container {
      position: relative;
   }
}
.feedback__title {
   font-size: 36px;
   color: #000;
   max-width: 678px;
   margin: 0 auto;
   span {
      color: $blue;
   }
   p {
      margin-top: 30px;
      line-height: 30px;
      color: #555555;
      font-size: 16px;
      font-weight: 400;
   }
}
.feedback__container-swiper {
   width: 100%;
   height: 100%;
   overflow: hidden;
}
.feedback__inner-items {
   display: flex;
   width: 100%;
   height: 100%;
   justify-content: space-between;
   padding-top: 50px;
   padding-bottom: 50px;
}
.feedback__item {
   flex-shrink: 0;
   max-width: 555px;
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   border-top-right-radius: 4px;
   border-bottom-right-radius: 4px;
   border-left: 2px solid $blue;
   background-color: #fff;
   padding: 50px 40px 40px 40px;
   text-align: left;
   &-text {
      font-size: 16px;
      color: #555555;
      line-height: 30px;
      margin-top: 20px;
   }
}

.feedback__button-prev,
.feedback__button-next {
   position: absolute;
   cursor: pointer;
   background-color: #fff;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   box-shadow: 0px 4px 15px 0px rgba(67, 67, 67, 0.15);
   display: flex;
   align-items: center;
   justify-content: center;
   top: 50%;
   color: $blue;
   outline: transparent;
}
.feedback__button-prev {
   left: -10px;
}
.feedback__button-next {
   right: -10px;
}
.feedback__button-prev:hover,
.feedback__button-next:hover {
   color: #000;
   transition: all 0.3s;
}

.feedback__item-user {
   display: flex;
   align-items: center;
   &--img {
      width: 80px;
      height: 80px;
      margin-right: 18px;
      display: block;
      border-radius: 50%;
      img {
         width: 100%;
         height: 100%;
         display: block;
         border-radius: 50%;
      }
   }
   &--info {
      font-size: 16px;
      color: #555555;
      a {
         display: block;
         font-size: 20px;
         color: #000;
         margin-bottom: 15px;
      }
   }
   .lnr-bubble {
      font-size: 60px;
      color: #e8e8e8;
      margin-left: auto;
   }
}
.feedback__button {
   cursor: pointer;
   background-color: #0674ec;
   border: 1px solid #0674ec;
   border-radius: 25px;
   color: #fff;
   padding: 20px 33px;
   margin: 10px auto 0;
   display: block;
   box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
   &:hover {
      color: $blue;
      background-color: transparent;
      transition: all 0.3s;
   }
}

/*News*/
.news {
   padding: 120px 0;
   background-color: #eff1f5;
   text-align: center;
}
.news__inner-items {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}
.news__item {
   border-radius: 4px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
   max-width: 360px;
   text-align: left;
   position: relative;
   min-height: 475px;
   &-box {
      padding: 24px 24px 89px 24px;
   }
   &-image {
      min-height: 230px;
      display: block;
   }
   &-title {
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      color: #000;
   }
   &-text {
      font-size: 16px;
      line-height: 30px;
      color: #555555;
      margin-top: 22px;
   }
}
.news__item-links {
   border-top: 1px solid #ececec;
   padding: 20px 30px;
   display: flex;
   align-items: center;
   position: absolute;
   width: 100%;
   bottom: 0;
}
.news__links-data {
   width: 50%;
   position: relative;
   font-size: 15px;
   color: #999999;
   .lnr-clock {
      font-size: 15px;
      color: $blue;
   }
   &::after {
      content: "";
      position: absolute;
      width: 1px;
      height: 40px;
      background-color: #ececec;
      right: 0px;
      top: -50%;
   }
}
.news__links-count {
   padding-left: 33px;
   font-size: 15px;
   color: #7e7e7e;
   a {
      color: #7e7e7e;
   }
   .lnr-eye {
      margin-left: 30px;
   }
}

/*Support*/
.support {
   background-color: #fff;
   padding: 60px 0;
   position: relative;
   &::after {
      content: "";
      position: absolute;
      background-color: #e8eaf3;
      width: 1px;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
   }
}
.support__inner {
   display: flex;
   align-items: flex-start;
   justify-content: space-around;
}
.support__item {
   width: 50%;
   text-align: center;
   min-height: 175px;
   img {
      margin-bottom: 25px;
      width: 150px;
      height: 120px;
   }
   &-text {
      font-size: 24px;
      color: #000;
      a,
      span {
         color: $blue;
      }
   }
}

/*Join*/
.join {
   padding: 100px 0 110px;
   background-image: linear-gradient(
      270deg,
      rgb(13, 62, 242) 0%,
      rgb(64, 48, 201) 46%,
      rgb(114, 33, 160) 100%
   );
}
.join__inner {
   text-align: center;
}
.join__title {
   color: #fff;
   font-size: 36px;
   margin-bottom: 15px;
}
.join__text {
   color: #e7e7e7;
   font-size: 18px;
}

/*Footer*/
.footer__top {
   background-color: #262b30;
   padding: 110px 0 120px;
}
.footer__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.footer__item-contact {
   max-width: 264px;
   font-size: 15px;
   color: #ababab;
   .item__contact-img {
      margin-bottom: 20px;
   }
   .item-contanct__text {
      line-height: 28px;
      margin-bottom: 15px;
   }
   .item-contact__phone,
   .item-contact__mail,
   .item-contact__location {
      line-height: 26px;
      margin-bottom: 10px;
      padding-left: 29px;
      position: relative;
      color: #ababab;
      .lnr-phone-handset,
      .lnr-envelope,
      .lnr-map-marker {
         color: #fff;
         font-size: 16px;
         position: absolute;
         left: 0;
         bottom: 50%;
         transform: translateY(50%);
      }
   }
}
.footer__item-col {
   max-width: 165px;
}
.item-col__title {
   font-size: 18px;
   line-height: 42px;
   color: #fff;
   bottom: 25px;
   margin-bottom: 20px;
}
.item-col__list {
   li {
      font-size: 15px;
      line-height: 32px;
      a {
         color: #ababab;
      }
   }
}
.footer__item-social {
   max-width: 360px;
   .item-social__title {
      color: #fff;
      font-size: 18px;
      line-height: 42px;
      margin-bottom: 20px;
   }
   .item-social__text {
      font-size: 15px;
      line-height: 28px;
      color: #ababab;
      margin-bottom: 30px;
   }
   .item-social__form {
      position: relative;
      input {
         border: none;
         border-radius: 25px;
         padding: 20px 120px 20px 30px;
         max-width: 358px;
      }
      button {
         position: absolute;
         right: -2px;
         top: 0;
         color: #fff;
         background-color: $blue;
         font-size: 15px;
         border: none;
         border-radius: 25px;
         padding: 20px 30px;
         height: 100%;
         cursor: pointer;
      }
   }
}
.item-social__icons {
   display: flex;
   justify-content: flex-start;
   margin-top: 48px;
}
.item-social-icon {
   & + & {
      margin-left: 10px;
   }
   font-size: 16px;
   color: #fff;
   border-radius: 50%;
   border: 1px solid transparent;
   width: 42px;
   height: 42px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.bg-facebook,
.bg-twitter,
.bg-google,
.bg-pinterest,
.bg-linkedin,
.bg-dribble {
   &:hover {
      background-color: transparent;
      border-color: #fff;
      transition: all 0.3s;
   }
}
.bg-facebook {
   background-color: #395799;
   &:hover {
      color: #395799;
   }
}
.bg-twitter {
   background-color: #19b2f5;
   &:hover {
      color: #19b2f5;
   }
}
.bg-google {
   background-color: #f05b44;
   &:hover {
      color: #f05b44;
   }
}
.bg-pinterest {
   background-color: #9c0c1c;
   &:hover {
      color: #9c0c1c;
   }
}
.bg-linkedin {
   background-color: #0da6be;
   &:hover {
      color: #0da6be;
   }
}
.bg-dribble {
   background-color: #ea4c89;
   &:hover {
      color: #ea4c89;
   }
}
.footer__copy {
   background-color: #192027;
   padding: 34px;
   text-align: center;
   &-title {
      color: #999999;
      font-size: 15px;
      line-height: 27px;
      a {
         color: #fff;
      }
   }
}

/*888888888888888888888888888888888888888888888888888888888888*/
/*888888888888888888888888888888888888888888888888888888888888*/
/*888888888888888888888888888888888888888888888888888888888888*/
/*Megamenu*/
