@import "vars";
@import "global";

/*Header-top*/
.header__top {
   background-color: $light-grey;
}
.header__top-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}
.header__logo {
   margin-left: 10px;
}
.header__box {
   display: flex;
   align-items: center;
   &-btn {
      background-color: $blue;
      padding: 11px 18px;
      border-radius: 20px;
      margin-right: 50px;
      font-size: 14px;
      border: 1px solid $blue;
      a {
         color: #fff;
      }
      &:hover {
         background-color: #fff;
         transition: all 0.3s;
         a {
            color: $blue;
         }
      }
   }
   &-icons {
      display: flex;
      align-items: center;
      margin-right: 48px;
   }
   &-user {
      display: flex;
      align-items: center;
   }
}
.fa-bell,
.fa-envelope,
.fa-shopping-cart {
   font-size: 20px;
   color: rgb(126, 143, 161);
}
.box__icon-1,
.box__icon-2,
.box__icon-3 {
   margin-right: 30px;
   position: relative;
}
.box__icon-1:hover {
   .fa-bell {
      color: #333;
      transition: all 0.3s;
   }
}
.box__icon-2:hover {
   .fa-envelope {
      color: #333;
      transition: all 0.3s;
   }
}
.box__icon-3:hover {
   .fa-shopping-cart {
      color: #333;
      transition: all 0.3s;
   }
}
.icon__circle-1,
.icon__circle-2,
.icon__circle-3 {
   position: absolute;
   min-width: 28px;
   min-height: 28px;
   padding: 6px;
   border-radius: 14px;
   color: #fff;
   font-size: 14px;
   font-weight: 500;
   text-align: center;
}
.icon__circle-1 {
   background-color: $red;
   top: -22px;
   left: 6px;
}
.icon__circle-2 {
   background-color: $green;
   top: -22px;
   left: 13px;
}
.icon__circle-3 {
   background-color: $blue;
   top: -20px;
   left: 13px;
}
.header__user-icon {
   margin-right: 20px;
   width: 50px;
   height: 50px;
   display: block;
   border-radius: 50%;
}
.header__user-info {
   a {
      font-size: 16px;
      line-height: 22px;
      font-weight: 500;
      color: #333333;
      &:hover {
         color: #000;
         transition: all 0.3s;
      }
   }
   span {
      display: block;
      font-size: 15px;
      line-height: 22px;
      color: $blue;
   }
}

/*Header-menu*/
.header__menu {
   background-color: #fff;
}
.header__menu-inner {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 80px;
}
.menu__list {
   &-item {
      display: inline-block;
      text-transform: uppercase;
      font-size: 15px;
      font-weight: 500;
      a {
         color: #333333;
         &:hover {
            color: #000;
            transition: all 0.3s;
         }
      }
   }
   li + li {
      margin-left: 32px;
   }
}
.header__search {
   &-form {
      position: relative;
      max-width: 360px;
      input {
         height: 46px;
         padding: 0 85px 0 25px;
         border-radius: 25px;
         border: 1px solid rgb(220, 220, 220);
         width: 360px;
      }
      button {
         background-color: $blue;
         border: none;
         cursor: pointer;
         top: 0;
         right: 0;
         position: absolute;
         height: 100%;
         width: 70px;
         border-radius: 25px;
         outline: transparent;
      }
   }
}

/*Header-product*/
.header__product {
   min-height: 730px;
   background-color: #2b4fd5;
   position: relative;
}
.header__product {
   &-inner {
      text-align: center;
      color: #f3f3f8;
      padding-top: 180px;
   }
   &-title {
      font-size: 60px;
      line-height: 70px;
      span {
         display: block;
         font-weight: 700;
      }
   }
   &-text {
      font-size: 20px;
      font-weight: 500;
      line-height: 72px;
   }
   &-buttons {
      margin-top: 67px;
   }
}
.product-button {
   height: 55px;
   padding: 0 30px;
   color: #fff;
   background-color: transparent;
   border: 1px solid #fff;
   border-radius: 25px;
   cursor: pointer;
   margin-left: 15px;
   margin-right: 15px;
   &:hover {
      background-color: #fff;
      color: $blue;
      transition: all 0.3s;
   }
}
.header__product-select {
   position: absolute;
   width: 100%;
   max-width: 1140px;
   height: 135px;
   background-color: #fff;
   bottom: -67px;
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
   border-radius: 6px;
   z-index: 10;
   padding: 0 40px;
}
.header__product-select2 {
   position: absolute;
   width: 100%;
   max-width: 1110px;
   height: 135px;
   background-color: #fff;
   bottom: -54px;
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
   opacity: 0.502;
   border-radius: 6px;
   z-index: 9;
   left: 0;
   right: 0;
   margin: 0 auto;
}
.header__product-select3 {
   position: absolute;
   width: 100%;
   max-width: 1080px;
   height: 135px;
   background-color: #fff;
   bottom: -41px;
   box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
   opacity: 0.502;
   border-radius: 6px;
   z-index: 8;
   left: 0;
   right: 0;
   margin: 0 auto;
}
.product__select-form {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   input {
      height: 55px;
      padding: 0 27px;
      border-radius: 4px;
      border: 1px solid rgb(220, 220, 220);
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      position: relaive;
      width: 612px;
   }
   button {
      background-color: $blue;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 0 66px;
      font-size: 16px;
      height: 55px;
      cursor: pointer;
      margin-left: 30px;
   }
}
.product-select {
   position: relative;
   margin-left: -15px;
   select {
      height: 55px;
      width: 201px;
      border: 1px solid rgb(220, 220, 220);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 0 45px 0 34px;
      appearance: none;
      cursor: pointer;
      margin-left: -14px;
      display: block;
   }
   &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/chevron-down.png);
      width: 13px;
      height: 8px;
      right: 20px;
      top: 25px;
      pointer-events: none;
   }
}

/*Recommend*/
.recommend {
   padding: 185px 0 123px;
   background-color: #fff;
}
.recommend__inner {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
}
.recommend__item {
   color: $content-text;
   text-align: center;
   max-width: 360px;
   width: 100%;
   padding: 45px 30px;
   border-radius: 4px;
   &:hover {
      box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
      transition: all 0.3s;
   }
   img {
      display: block;
      margin: 0 auto;
      margin-bottom: 32px;
   }
   &-title {
      font-size: 24px;
      margin-bottom: 30px;
   }
   &-text {
      font-size: 16px;
      line-height: 30px;
   }
}

/*Featured*/
.featured {
   background-color: $bg-grey;
   padding: 120px 0;
}
.featured__item {
   &-box {
      display: flex;
      justify-content: space-between;
      background-color: #fff;
   }
}
.featured__titlebox-arrows {
   background-color: $purple;
   position: relative;
   height: 45px;
   width: 110px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 25px;
}
.fas.fa-chevron-left.slick-arrow,
.fas.fa-chevron-right.slick-arrow {
   position: absolute;
   z-index: 1;
   right: 105px;
   top: -119px;
   font-size: 14px;
   color: #daceee;
   cursor: pointer;
}
.fas.fa-chevron-right.slick-arrow {
   right: 55px;
}
.fas.fa-chevron-left.slick-arrow:hover,
.fas.fa-chevron-right.slick-arrow:hover {
   color: #fff;
   transition: all 0.3s;
}
.featured__box-image {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   max-width: 555px;
   width: 100%;
}
.featured__box-info {
   padding: 45px 58px 24px 19px;
   max-width: 555px;
   width: 100%;
   background-color: #fff;
}
.box-info__title {
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 15px;
}
.box-info__type {
   display: flex;
   align-items: center;
   font-size: 15px;
   line-height: 30px;
   margin-bottom: 20px;
   a {
      display: flex;
      align-items: center;
      color: #000000;
   }
   .info__type-user {
      margin-right: 9px;
      width: 30px;
      height: 30px;
   }
   .info__type-icon {
      margin-left: 20px;
      margin-right: 9px;
   }
   span {
      color: $purple;
   }
}
.box-info__text {
   font-size: 16px;
   line-height: 30px;
   color: #555555;
   margin-bottom: 38px;
}
.box-info__buttons {
   display: flex;
   .info__buttons-item {
      background-color: #f1f3f6;
      padding: 9px 13px;
      margin-right: 10px;
      border-radius: 25px;
      font-size: 15px;
      a {
         color: #868c96;
      }
   }
}
.box-info__links {
   padding-top: 24px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-top: 1px solid rgb(236, 236, 236);
   font-size: 15px;
   margin-top: 43px;
}
.info__links {
   &-price {
      background-color: $blue;
      color: #fff;
      font-weight: 500;
      padding: 8px 19px;
      border-radius: 25px;
      margin-right: 19px;
   }
   &-likes {
      color: #555555;
      .fa-heart {
         margin-right: 8px;
         color: $purple;
         font-size: 15px;
      }
   }
   &-count {
      color: $blue;
      .fa-shopping-cart {
         margin-left: 17px;
         margin-right: 9px;
         color: $blue;
         font-size: 15px;
      }
   }
}

/*Release*/
.release {
   background-color: #f6f7fb;
   padding: 120px 0;
}
.release__titlebox-filter {
   position: relative;
   font-size: 16px;
   cursor: pointer;
   a {
      color: #747b86;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   ul {
      margin-left: 25px;
   }
}
.filter-dots {
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background-color: #a3b1c4;
   margin-bottom: 4px;
}
.filter-dots:last-child {
   margin-bottom: 0;
}
.release__titlebox-filter:hover {
   & > a {
      color: $blue;
      transition: all 0.3s;
   }
   .filter-dots {
      background-color: $blue;
      transition: all 0.3s;
   }
}
.filter__dropdown {
   display: none;
   position: absolute;
   background-color: #fff;
   width: 183px;
   padding: 25px;
   top: 44px;
   right: -24px;
   border-radius: 3px;
   box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   &::before {
      content: "";
      position: absolute;
      top: -10px;
      right: 18px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 9px 16px 9px;
      border-color: transparent transparent #ffffff transparent;
      box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
   }
   ul {
      margin-left: 0;
      font-size: 15px;
      line-height: 28px;
   }
   &-item {
      a {
         color: #747b86;
      }
      &:hover {
         a {
            color: $blue;
            transition: all 0.3s;
         }
      }
   }
}
.release__inner-buttons {
   background-color: #fff;
   padding: 30px;
   box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
}
.release--info__buttons-item {
   button {
      background-color: #f1f3f6;
      cursor: pointer;
      padding: 9px 13px;
      margin-right: 10px;
      border-radius: 25px;
      border: none;
      font-size: 15px;
      color: #868c96;
      &:hover {
         color: #000;
         transition: all .3s;
      }
   }
}
.release__inner-items {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: flex-start;
}
.release__item {
   max-width: 360px;
   width: 100%;
   box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
   margin-bottom: 30px;
   background-color: #fff;
   &-image {
      min-height: 230px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
   }
   &-text {
      padding: 30px 40px 35px 28px;
   }
}
.release__text-title {
   font-size: 20px;
   color: #000;
   font-weight: 500;
   margin-bottom: 20px;
}
.release__product-button {
   cursor: pointer;
   color: #fff;
   background-color: rgba(255, 255, 255, 0.1);
   background-color: rgba(0, 0, 0, 0.3);
   border: 1px solid #fff;
   border-radius: 25px;
   font-size: 15px;
   font-weight: 500;
   padding: 16px 30px;
   margin-left: 5px;
   margin-right: 5px;
   box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
   &:hover {
      color: $blue;
      background-color: #fff;
      transition: all 0.3s;
   }
}
.release--box-info__text {
   font-size: 16px;
   line-height: 30px;
   color: #555555;
}
.release--box-info__links {
   border-top: 1px solid #ececec;
   padding: 16px 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.release__links-left {
   display: flex;
   align-items: center;
   .info__links-likes {
      margin-right: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
}
.release__links-left-price {
   margin-right: 13px;
   color: $blue;
   font-size: 15px;
   font-weight: 500;
   background-color: #e6f1fd;
   padding: 7px 17px;
   border-radius: 25px;
}
.release--box-info__links {
   .info__links-count {
      display: flex;
      align-items: center;
   }
}
.release__btn-bottom {
   cursor: pointer;
   background-color: $blue;
   border: 1px solid $blue;
   border-radius: 25px;
   color: #fff;
   padding: 20px 33px;
   margin: 60px auto 0;
   display: block;
   &:hover {
      color: $blue;
      background-color: #fff;
      transition: all 0.3s;
   }
}

/*Follower*/
.followers {
   background-color: #eff1f5;
   padding: 120px 0;
}
.followers__titlebox-arrows {
   background-color: $purple;
   position: relative;
   height: 45px;
   width: 110px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 25px;
}
.followers__inner {
   .titlebox {
      margin-bottom: 50px;
   }
}
.followers__slider-inner {
   max-width: 1140px;
   .slick-slide {
      margin: 0 15px;
   }
   .slick-list {
      margin-left: -15px;
      margin-right: -15px;
   }
}

/*Count*/
.count {
   background-color: #212225;
   padding: 95px 0;
}
.count__inner {
   display: flex;
   justify-content: space-between;
}
.count__item {
   text-align: center;
   &-image {
      font-size: 48px;
      margin-bottom: 35px;
   }
   &-title {
      font-size: 36px;
   }
   &-text {
      font-size: 18px;
      line-height: 36px;
      color: #fff;
   }
}
/*About*/
.about {
   background-color: #fff;
   padding: 120px 0 120px;
   text-align: center;
   &__title {
      font-size: 36px;
      margin-bottom: 25px;
      span {
         color: $blue;
      }
   }
   &__text {
      font-size: 16px;
      color: #555555;
      line-height: 30px;
      max-width: 680px;
      width: 100%;
      margin: 0 auto 60px;
   }
   &__items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: flex-start;
   }
}
.about__item {
   max-width: 360px;
   width: 100%;
   padding: 55px 33px;
   margin-bottom: 30px;
   border-radius: 4px;
   background-color: rgb(255, 255, 255);
   box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.08);
   position: relative;
   &-image {
      margin-bottom: 40px;
      font-size: 60px;
   }
   &-title {
      font-size: 24px;
      color: #000;
      margin-bottom: 30px;
   }
   &-text {
      font-size: 16px;
      line-height: 30px;
      color: #555555;
   }
   &::before {
      content: attr(data-parent);
      position: absolute;
      font-size: 48px;
      color: $blue;
      opacity: 0.2;
      top: 22px;
      left: 19px;
   }
}

/*Obtain*/
.obtain__inner {
   display: flex;
   justify-content: space-between;
}
.obtain__item {
   max-width: 50%;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   text-align: center;
   padding: 100px 185px;
   color: #fff;
   &-image {
      margin-bottom: 45px;
   }
   &-title {
      font-size: 36px;
      margin-bottom: 25px;
   }
   &-text {
      line-height: 30px;
   }
   &-btn {
      margin-top: 45px;
      color: $blue;
      background-color: #fff;
      border-radius: 25px;
      padding: 22px 26px;
      border: 1px solid #fff;
      &:hover {
         background-color: transparent;
         color: #fff;
         border: 1px solid $blue;
         transition: all 0.3s;
      }
   }
}
